@import url('https://fonts.googleapis.com/css?family=Robot+Mono&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: #c408e5;
    color: #fff;
    font-family: "Roboto Mono", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 50px;
    text-align: center;
}
.counter {
    font-size: 60px;
    margin-top: 10px;
}
@media(max-width: 580px) {
    body {
        flex-direction: column;
    }
}