@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

.poke-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.pokemon {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100,100,100,0.2);
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  width: 150px;
}

.img-container {
  background-color: rgba(255,255,255,0.7);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 100px;
}

.info {
  margin-top: 1rem;
}

.number {
  background-color: rgba(0,0,0,0.1);
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  font-size: 0.8rem;
}

.type span {
  text-transform: capitalize;
}
