@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: rgb(161, 100, 223);
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}
.btn {
    background-color: gray;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 1.5rem 3rem;
    margin: 1rem;
    font-family: inherit;
    font-size: 1.2rem;
    cursor: pointer;
}
.btn:hover {
    opacity:0.9;
}
.btn:focus {
    outline: none;
}