@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: rgb(82, 172, 224);
    font-family: "Muli", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
h3 {
    color: #fff;
    margin: 10px 0 20px;
    text-align: center;
}
.container {
    width: 500px;
}
textarea {
    border: 0;
    display: block;
    width: 100%;
    height: 75px;
    font-family: inherit;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 16px;
}
.tag {
    background-color: rgb(211, 176, 79);
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    font-size: 14px;
    display: inline-block;
}
.tag.highlight {
    background-color: red;
}
